<a href="https://colab.research.google.com/github/lxb2515-ai/bte320/blob/main/BTE320.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Class Activity 1

In [ ]:
sales = float (input ("Enter sales amount ($)"))
cost_of_goods_sold = sales * .4
gross_profit = sales * .4
gross_profit = sales - cost_of_goods_sold
print(f" Total of goods sold: {cost_of_goods_sold}")
print(f" Gross profit: {gross_profit} $")

Enter sales amount ($)12000
 Total of goods sold: 4800.0
 Gross profit: 7200.0 $

In [7]:
# Prompt for tax rate
tax_rate = float(input("Enter tax rate (%): ")) / 100

# Calculate taxes and net income
taxes = gross_profit * tax_rate
net_income = gross_profit - taxes

# Display results
print(f"Taxes: {taxes}")
print(f"Net Income: {net_income}")

Enter tax rate (%): 30
Taxes: 2160.0
Net Income: 5040.0

In Class Activity 2

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")

if operator == "+":
    result = num1 + num2
    print(result)

elif operator == "-":
    result = num1 - num2
    print(result)

elif operator == "*":
    result = num1 * num2
    print(result)

elif operator == "/":
    if num2 != 0:
        result = num1 / num2
        print(result)
    else:
        print("Error: Cannot divide by zero")

else:
    print("Invalid operator")

Enter first number: 5
Enter second number: 9
Enter operator (+, -, *, /): -
-4.0

In Class Acitivity 3

In [2]:
for hours in range(1, 9):
    fee = 5 + 2.5 * hours

    if fee < 10:
        fee = 10
    elif fee > 20:
        fee = 20

    print(hours, fee)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In Class Activity 4

In [1]:
import math

ticketPrice = 10
initAttendees = 20

print("Ads\tProfit")
for ad in range(0, 201, 25):
    revenue = (initAttendees + 2 * round(math.sqrt(ad))) * ticketPrice
    costs = 200 + ad
    profit = revenue - costs
    print(f"{float(ad)}\t{float(profit)}")

Ads	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0